<div class="container">
    <div class="mt-5 pt-5 mb-5">
        <h2 class="my-5 text-center">Todo List</h2>
        <a class="btn btn-dark mt-3 mb-4" routerLink="/todo/add">Add Todo</a>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">Sl no</th>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Address</th>
                <th scope="col">Status</th>
                <th scope="col">Action 1</th>
                <th scope="col">Action 2</th>
                <th scope="col">Action 3</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let listData of getTodoData; let i = index">
                    <th>{{ i + 1 }}</th>
                    <td>{{ listData.objectId }}</td>
                    <td>{{ listData.name }}</td>
                    <td>{{ listData.email }}</td>
                    <td>{{ listData.phone }}</td>
                    <td>{{ listData.data }}</td>
                    <td>{{ listData.completed }}</td>
                    <td><a [routerLink]="['/todo/view', listData.objectId]" class="btn btn-warning">View</a></td>
                    <td><a [routerLink]="['/todo/edit', listData.objectId]" class="btn btn-info">Edit</a></td>
                    <td><button (click)="deleteItem(listData.objectId)" class="btn btn-danger">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
