<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <div class="container-fluid">
      <a class="navbar-brand fs-2 fw-bold" routerLink="/">Todo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active fw-bold fs-5" aria-current="page" routerLink="/">Home</a>
          </li>
          <li class="nav-item" *ngIf="logedIn">
            <a class="nav-link fw-bold fs-5" routerLink="todo/list">Todo list</a>
          </li>
          <li class="nav-item" *ngIf="logedIn">
            <a class="nav-link fw-bold fs-5" routerLink="todo/add">Todo Add </a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link fw-bold fs-5" routerLink="todo/edit">Todo Edit </a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link fw-bold fs-5" *ngIf="!logedIn" routerLink="todo/login">Login</a>
            <button class="fw-bold fs-5 btn-warning" *ngIf="logedIn" routerLink="todo/login" (click)="logOut()">Logout</button>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-bold fs-5" *ngIf="!logedIn" routerLink="todo/signup">Signup</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
