<app-message *ngIf="successMessage && showMessage" [message]="successMessage"></app-message>
<div class="container">
    <div class="mt-5 pt-5">
        <h2 class="my-5 text-center">Sign Up</h2>
        <form style="width: 500px; margin: 0 auto;" class="border border-warning p-5 mb-5" [formGroup]="signupForm" (ngSubmit)="postSignupForm()">
            <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="email" class="form-control" formControlName="email">
                <span class="text-danger d-block mt-1" *ngIf="submitted && email && email.invalid && !email.dirty">This field is required</span>
                <span class="text-danger d-block mt-1" *ngIf="submitted && email && email.invalid && email.dirty">It's not valid</span>
                <span class="text-danger d-block mt-1" *ngIf="errorText && errorText.code === 203">{{ errorText.error }}</span>
            </div>
            <div class="mb-3">
                <label class="form-label">User Name</label>
                <input type="text" class="form-control" formControlName="username">
                <span class="text-danger d-block mt-1" *ngIf="submitted && username && username.invalid && !username.dirty">This field is required</span>
                <span class="text-danger d-block mt-1" *ngIf="errorText && errorText.code === 202">{{ errorText.error }}</span>
            </div>
            <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" class="form-control" formControlName="password">
                <span class="text-danger d-block mt-1" *ngIf="submitted && password && password.invalid && !password.dirty">This field is required</span>
                <span class="text-danger d-block mt-1" *ngIf="submitted && password && password.invalid && password.dirty">Enter at least 8 character</span>
            </div>
            <button class="btn btn-warning">Sign Up</button> 
            <span class="d-block mt-3">Already have an account? <a routerLink="/todo/login">Login</a></span>
        </form>
    </div>
</div>

