<div class="container">
    <div class="mt-5 pt-5">
        <h2 class="my-5 text-center">Reset Password</h2>
        <form style="width: 500px; margin: 0 auto;" class="border border-warning p-5 mb-5" [formGroup]="passwordResetForm" (submit)="postResetLink()">
            <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="text" class="form-control" formControlName="email">
                <span class="text-danger d-block mt-1" *ngIf="submitted && email && email.invalid && !email.dirty">This field is required</span>
                <span class="text-danger d-block mt-1" *ngIf="submitted && email && email.invalid && email.dirty">It's not valid</span>
            </div>
            <button class="btn btn-warning mt-3">Send Password Reset Link</button>
        </form>
    </div>
</div>
